{% if tests_flags.e2e %}
CHECKLY_BASE_URL=https://staging.api.{{ cookiecutter.project_slug }}.com
AUTH_URL=https://auth.{{ cookiecutter.project_slug }}.com/oauth/token
CLIENT_ID=
CLIENT_SECRET=
{% endif %}